@use "sass:map";

/* Color map */
$colors: (
    white: hsl(0 0% 100%),
    black: hsl(0 0% 0%),

    gray-100: hsl(0 0% 95%),
    gray-200: hsl(0 0% 82.5%),
    gray-300: hsl(0 0% 70%),
    gray-400: hsl(0 0% 60%),
    gray-500: hsl(0 0% 50%),
    gray-600: hsl(0 0% 40%),
    gray-700: hsl(0 0% 30%),
    gray-800: hsl(0 0% 17.5%),
    gray-900: hsl(0 0% 7.5%),

    orange-100: hsl(24 75% 95%),
    orange-200: hsl(24 75% 82.5%),
    orange-300: hsl(24 75% 70%),
    orange-400: hsl(24 75% 60%),
    orange-500: hsl(24 75% 50%),
    orange-600: hsl(24 75% 40%),
    orange-700: hsl(24 75% 30%),
    orange-800: hsl(24 75% 17.5%),
    orange-900: hsl(24 75% 7.5%),

    yellow-100: hsl(48 75% 95%),
    yellow-200: hsl(48 75% 82.5%),
    yellow-300: hsl(48 75% 70%),
    yellow-400: hsl(48 75% 60%),
    yellow-500: hsl(48 75% 50%),
    yellow-600: hsl(48 75% 40%),
    yellow-700: hsl(48 75% 30%),
    yellow-800: hsl(48 75% 17.5%),
    yellow-900: hsl(48 75% 7.5%),

    yellowgreen-100: hsl(72 75% 95%),
    yellowgreen-200: hsl(72 75% 82.5%),
    yellowgreen-300: hsl(72 75% 70%),
    yellowgreen-400: hsl(72 75% 60%),
    yellowgreen-500: hsl(72 75% 50%),
    yellowgreen-600: hsl(72 75% 40%),
    yellowgreen-700: hsl(72 75% 30%),
    yellowgreen-800: hsl(72 75% 17.5%),
    yellowgreen-900: hsl(72 75% 7.5%),

    green-100: hsl(96 75% 95%),
    green-200: hsl(96 75% 82.5%),
    green-300: hsl(96 75% 70%),
    green-400: hsl(96 75% 60%),
    green-500: hsl(96 75% 50%),
    green-600: hsl(96 75% 40%),
    green-700: hsl(96 75% 30%),
    green-800: hsl(96 75% 17.5%),
    green-900: hsl(96 75% 7.5%),

    lime-100: hsl(144 75% 95%),
    lime-200: hsl(144 75% 82.5%),
    lime-300: hsl(144 75% 70%),
    lime-400: hsl(144 75% 60%),
    lime-500: hsl(144 75% 50%),
    lime-600: hsl(144 75% 40%),
    lime-700: hsl(144 75% 30%),
    lime-800: hsl(144 75% 17.5%),
    lime-900: hsl(144 75% 7.5%),

    turquoise-100: hsl(168 75% 95%),
    turquoise-200: hsl(168 75% 82.5%),
    turquoise-300: hsl(168 75% 70%),
    turquoise-400: hsl(168 75% 60%),
    turquoise-500: hsl(168 75% 50%),
    turquoise-600: hsl(168 75% 40%),
    turquoise-700: hsl(168 75% 30%),
    turquoise-800: hsl(168 75% 17.5%),
    turquoise-900: hsl(168 75% 7.5%),

    cyan-100: hsl(192 75% 95%),
    cyan-200: hsl(192 75% 82.5%),
    cyan-300: hsl(192 75% 70%),
    cyan-400: hsl(192 75% 60%),
    cyan-500: hsl(192 75% 50%),
    cyan-600: hsl(192 75% 40%),
    cyan-700: hsl(192 75% 30%),
    cyan-800: hsl(192 75% 17.5%),
    cyan-900: hsl(192 75% 7.5%),

    skyblue-100: hsl(216 75% 95%),
    skyblue-200: hsl(216 75% 82.5%),
    skyblue-300: hsl(216 75% 70%),
    skyblue-400: hsl(216 75% 60%),
    skyblue-500: hsl(216 75% 50%),
    skyblue-600: hsl(216 75% 40%),
    skyblue-700: hsl(216 75% 30%),
    skyblue-800: hsl(216 75% 17.5%),
    skyblue-900: hsl(216 75% 7.5%),

    blue-100: hsl(240 75% 95%),
    blue-200: hsl(240 75% 82.5%),
    blue-300: hsl(240 75% 70%),
    blue-400: hsl(240 75% 60%),
    blue-500: hsl(240 75% 50%),
    blue-600: hsl(240 75% 40%),
    blue-700: hsl(240 75% 30%),
    blue-800: hsl(240 75% 17.5%),
    blue-900: hsl(240 75% 7.5%),

    purple-100: hsl(264 75% 95%),
    purple-200: hsl(264 75% 82.5%),
    purple-300: hsl(264 75% 70%),
    purple-400: hsl(264 75% 60%),
    purple-500: hsl(264 75% 50%),
    purple-600: hsl(264 75% 40%),
    purple-700: hsl(264 75% 30%),
    purple-800: hsl(264 75% 17.5%),
    purple-900: hsl(264 75% 7.5%),

    magenta-100: hsl(288 75% 95%),
    magenta-200: hsl(288 75% 82.5%),
    magenta-300: hsl(288 75% 70%),
    magenta-400: hsl(288 75% 60%),
    magenta-500: hsl(288 75% 50%),
    magenta-600: hsl(288 75% 40%),
    magenta-700: hsl(288 75% 30%),
    magenta-800: hsl(288 75% 17.5%),
    magenta-900: hsl(288 75% 7.5%),

    pink-100: hsl(312 75% 95%),
    pink-200: hsl(312 75% 82.5%),
    pink-300: hsl(312 75% 70%),
    pink-400: hsl(312 75% 60%),
    pink-500: hsl(312 75% 50%),
    pink-600: hsl(312 75% 40%),
    pink-700: hsl(312 75% 30%),
    pink-800: hsl(312 75% 17.5%),
    pink-900: hsl(312 75% 7.5%),

    deeppink-100: hsl(336 75% 95%),
    deeppink-200: hsl(336 75% 82.5%),
    deeppink-300: hsl(336 75% 70%),
    deeppink-400: hsl(336 75% 60%),
    deeppink-500: hsl(336 75% 50%),
    deeppink-600: hsl(336 75% 40%),
    deeppink-700: hsl(336 75% 30%),
    deeppink-800: hsl(336 75% 17.5%),
    deeppink-900: hsl(336 75% 7.5%),

    red-100: hsl(0 75% 95%),
    red-200: hsl(0 75% 82.5%),
    red-300: hsl(0 75% 70%),
    red-400: hsl(0 75% 60%),
    red-500: hsl(0 75% 50%),
    red-600: hsl(0 75% 40%),
    red-700: hsl(0 75% 30%),
    red-800: hsl(0 75% 17.5%),
    red-900: hsl(0 75% 7.5%),

    primary-100: hsl(343 87% 95%),
    primary-200: hsl(343 87% 82.5%),
    primary-300: hsl(343 87% 70%),
    primary-400: hsl(343 87% 60%),
    primary-500: hsl(343 87% 55%),
    primary-600: hsl(343 87% 40%),
    primary-700: hsl(343 87% 30%),
    primary-800: hsl(343 87% 17.5%),
    primary-900: hsl(343 87% 7.5%),

    background-light: hsl(249, 89%, 95.5%),
    background-100: hsl(249, 89%, 95%),
    background-200: hsl(249, 89%, 82.5%),
    background-300: hsl(249, 89%, 70%),
    background-400: hsl(249, 89%, 60%),
    background-500: hsl(249, 89%, 55%),
    background-600: hsl(249, 89%, 40%),
    background-700: hsl(249, 89%, 30%),
    background-800: hsl(249, 89%, 17.5%),
    background-900: hsl(249, 89%, 7.5%),
    background-dark: hsl(249, 89%, 2%),
);

/* Direct getter (no alpha) */
@function get($key) {
  $col: map.get($colors, $key);
  @if $col == null { @error "Unknown color key: #{$key}"; }
  @return $col;
}
