@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

$font-url: "../fonts/";

$font-main: "Sora", system-ui, sans-serif;
$font-title: "Playfair Display", serif;