@use "sass:map";

$z-index: (
    modal: 10000,
    navbar: 9900,
    bannerContent: 30,
    bannerOverlay: 20,
    behind: -1,
);

@function zi($key) {
  @return map.get($z-index, $key);
}

@mixin z-index($key) {
  z-index: zi($key);
}