@use "sass:math";
@use "../config/colors" as *;
@use "../tools/mixins/mixins" as *;
@use "../abstracts/utilities" as *;
@use "../config/fonts" as *;
@use "../config/sizes" as *;
@use "../config/z-index" as *;
@use "../tools/functions/encode-colors" as *;
@use "../tools/mixins/alignment" as *;

body {
  width: 100%;
  color: color(white);
  font: {
    size: .85rem;
    family: $font-main;
  }
  line-height: 1;
  background: color(black);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  @include lightMode {
    color: color(black);
    background-color: color(white);
  }
}

 .material-symbols-rounded {
   font-variation-settings:
       'FILL' 0,
       'wght' 300,
       'GRAD' 0,
       'opsz' 24
 }

.view-width {
  width: $view-width !important;
}

em {
  font: {
    weight: 700;
  }
}

main {
  position: relative;
  will-change: margin-left;
}
.user main {
  margin-left: $sidebar-width;
}
.nouser main {
  margin-left: 6em;
}
.is-collapsed ~ main {
  margin-left: 6em;
}

.view-width-home {
  width: $view-width;
  max-width: $max-view-width;
}

.page {
  &-padding {
    padding: 2em;
  }
  &-title {
    margin-bottom: 1em;
    font: {
      size: $paragraph-large;
      weight: 700;
    }
    color: color(white);
  }
}

.round {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'].check-red, input[type='radio'].check-red {
    --active: #{color(red-500)};
    --focus: 2px #{color(red-500, .3)};
    --border-hover: #{color(red-500)};
  }
  input[type='checkbox'].check-orange, input[type='radio'].check-orange {
    --active: #{color(orange-500)};
    --focus: 2px #{color(orange-500, .3)};
    --border-hover: #{color(orange-500)};
  }
  input[type='checkbox'].check-yellow, input[type='radio'].check-yellow {
    --active: #{color(yellow-500)};
    --focus: 2px #{color(yellow-500, .3)};
    --border-hover: #{color(yellow-500)};
  }
  input[type='checkbox'].check-yellowgreen, input[type='radio'].check-yellowgreen {
    --active: #{color(yellowgreen-500)};
    --focus: 2px #{color(yellowgreen-500, .3)};
    --border-hover: #{color(yellowgreen-500)};
  }
  input[type='checkbox'].check-green, input[type='radio'].check-green {
    --active: #{color(green-500)};
    --focus: 2px #{color(green-500, .3)};
    --border-hover: #{color(green-500)};
  }
  input[type='checkbox'].check-lime, input[type='radio'].check-lime {
    --active: #{color(lime-500)};
    --focus: 2px #{color(lime-500, .3)};
    --border-hover: #{color(lime-500)};
  }
  input[type='checkbox'].check-turquoise, input[type='radio'].check-turquoise {
    --active: #{color(turquoise-500)};
    --focus: 2px #{color(turquoise-500, .3)};
    --border-hover: #{color(turquoise-500)};
  }
  input[type='checkbox'].check-cyan, input[type='radio'].check-cyan {
    --active: #{color(cyan-500)};
    --focus: 2px #{color(cyan-500, .3)};
    --border-hover: #{color(cyan-500)};
  }
  input[type='checkbox'].check-skyblue, input[type='radio'].check-skyblue {
    --active: #{color(skyblue-500)};
    --focus: 2px #{color(skyblue-500, .3)};
    --border-hover: #{color(skyblue-500)};
  }
  input[type='checkbox'].check-blue, input[type='radio'].check-blue {
    --active: #{color(blue-500)};
    --focus: 2px #{color(blue-500, .3)};
    --border-hover: #{color(blue-500)};
  }
  input[type='checkbox'].check-purple, input[type='radio'].check-purple {
    --active: #{color(purple-500)};
    --focus: 2px #{color(purple-500, .3)};
    --border-hover: #{color(purple-500)};
  }
  input[type='checkbox'].check-magenta, input[type='radio'].check-magenta {
    --active: #{color(magenta-500)};
    --focus: 2px #{color(magenta-500, .3)};
    --border-hover: #{color(magenta-500)};
  }
  input[type='checkbox'].check-pink, input[type='radio'].check-pink {
    --active: #{color(pink-500)};
    --focus: 2px #{color(pink-500, .3)};
    --border-hover: #{color(pink-500)};
  }
  input[type='checkbox'].check-deeppink, input[type='radio'].check-deeppink {
    --active: #{color(deeppink-500)};
    --focus: 2px #{color(deeppink-500, .3)};
    --border-hover: #{color(deeppink-500)};
  }
  input[type='checkbox'],
  input[type='radio'] {
    --active: #{color(primary-500)};
    --active-inner: #{color(white)};
    --focus: 2px #{color(primary-500, .3)};
    --border: #{color(gray-700)};
    --border-hover: #{color(primary-500)};
    --background: #{color(black, .5)};
    --disabled: #{color(gray-900)};
    --disabled-inner: #{color(gray-800)};
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) cubic-bezier($transition-smooth, 1),
      opacity var(--d-o, .2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .1s;
      --d-t: .3s;
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: 21px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      font: {
        size: 14px;
      }
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }
  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 7px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 43deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: 38px;
      border-radius: 11px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }
  input[type='radio'] {
    border-radius: 50%;
    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, .7));
    }
    &:checked {
      --s: .5;
    }
  }
}

.dropdown {
  width: fit-content;
  display: inline-flex;
  position: relative;
  align-items: center;
  select {
    padding: 1em 2.8em 1em 1.4em;
    appearance: none;
    width: 100%;
    color: color(white);
    background-color: color(gray-900);
    border: 1px solid color(gray-800);
    border-radius: .6em;
    &:focus, &:active {
      outline: 2px solid color(white);
    }
  }
  select.icon {
    padding: 1em 1.4em 1em 2.8em;
  }
  > span {
    padding: 0;
    position: absolute;
    display: inline-flex;
    font: {
      size: $paragraph;
    }
    pointer-events: none;
    color: color(gray-100);
    transition: all .35s cubic-bezier($transition-main, 1);
  }
  .material-symbols-rounded {
    font: {
      size: $paragraph;
    }
  }
}

label {
  user-select: none;
}

.error {
  color: color(red-500);
}

.loader {
  width: 100%; height: calc(100vh - $navbar-height);
  @include align(center, center, row);
}
.spinner svg {
  animation: loading-rotate 2.2s linear infinite;
  height: 42px;
  width: 42px;
}
.spinner .path {
  stroke-dasharray: 90, 150;
  stroke-dashoffset: 0;
  stroke-width: 3;
  stroke: color(white);
  stroke-linecap: round;
  animation: loading-dash 1.6s ease-in-out infinite;
}
@keyframes loading-rotate {
  to {
    transform: rotate(1turn);
  }
}
@keyframes loading-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40px;
  }
  to {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120px;
  }
}

.sub-root {
  appearance: none;
  padding: 0;
  background: transparent;
  border: 0;
  cursor: pointer;
  &:disabled { cursor: not-allowed; opacity: 0.7; }
}

.sub-button {
  padding: 1em 1.5em;
  position: relative;
  color: color(black);
  background: color(white);
  border-radius: .75em;
  font: {
    size: $paragraph;
    weight: 500;
  }
  transition: all .5s cubic-bezier($transition-main, 1);
  @include align(center, center, row);
}
.sub-root:not(.is-following) .sub-button:hover {
  background: color(gray-100);
}
.sub-text {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.sub-button svg {
  top: 50%;
  width: 100%;
  position: absolute;
  transform: translateY(-50%);
  pointer-events: none;
}

.sub-root.is-following .sub-button {
  color: color(gray-100);
  background: linear-gradient(
          to right,
          var(--sub-color) 0%,
          var(--sub-color) 25%,
          color(red-200) 50%,
          color(yellow-500) 75%,
          color(gray-100) 100%
  );
  background-size: 600% 100%;
  animation: colorMove 1s linear forwards;
}
.sub-root.is-following .sub-button:hover {
  animation: colorMove 1s linear forwards;
}

.stars, .circles { opacity: 1; transform: scale(0); transform-origin: 0 0; }
.dots { opacity: 0; transform: scale(0.5); transform-origin: 0 0; }

.sub-root.is-following svg {
  #star1  { opacity: 0; transition: opacity .2s .5s, transform .5s; transform: scale(1) translate(10px, 10px); }
  #circle1{ opacity: 0; transition: opacity .3s .5s, transform .5s; transform: scale(1) translate(10px,-10px); }
  #dots1  { animation: 1s linear dotsAnimation .5s; }

  #star2  { opacity: 0; transition: opacity .3s .6s, transform .5s .1s; transform: scale(1) translate(5px, 10px); }
  #star3  { opacity: 0; transition: opacity .3s .7s, transform .5s .2s; transform: scale(1) translate(0px, 10px); }
  #star4  { opacity: 0; transition: opacity .3s .7s, transform .5s .2s; transform: scale(1) translate(0px,-10px); }

  #circle2{ opacity: 0; transition: opacity .2s .8s, transform .5s .3s; transform: scale(1) translate(0px,-10px); }
  #dots2  { animation: 1s linear dotsAnimation .8s; }

  #circle3{ opacity: 0; transition: opacity .2s .8s, transform .5s .3s; transform: scale(1) translate(-10px, 10px); }
  #dots3  { animation: 1s linear dotsAnimation .8s; }

  #star5  { opacity: 0; transition: opacity .3s .9s, transform .5s .4s; transform: scale(1) translate(-5px,-5px); }
  #star6  { opacity: 0; transition: opacity .3s 1s, transform .5s .5s; transform: scale(1) translate(-5px,-5px); }
}

@keyframes dotsAnimation {
  0% { opacity: 1; transform: scale(0.5); }
  100% { opacity: 0; transform: scale(1.3); }
}

@keyframes colorMove {
  0% { background-position: 100% 0; }
  100% { background-position: 0 0; }
}







::selection {
  color: color(black);
  background: color(white);
}

::-webkit-scrollbar-track {
  background-color: color(black);
}
::-webkit-scrollbar {
  width: 8px;
  background-color: color(black);
}
::-webkit-scrollbar-thumb {
  background-color: color(white, .7);
  border-radius: 1em;
}
::-webkit-scrollbar-thumb:hover {
  background-color: color(white, .9);
}