@use "../abstracts/colors" as c;
@use "../abstracts/font-face";
@use "../abstracts/mixins" as m;
@use "../abstracts/utilities" as u;
@use "sass:math";

body {
  width: 100%;
  color: m.hslac(c.$clr-white, 1);
  font-family: u.$font-main;
  font-size: .85rem;
  background: m.hslac(c.$clr-black, 1);
  @include m.lightMode {
    color: m.hslac(c.$clr-black, 1);
    background-color: m.hslac(c.$clr-white, 1);
  }
}
.view-width {
  width: u.$view-width !important;
}
.view-width-home {
  max-width: u.$max-view-width;
  width: u.$view-width !important;
}

em {
  font-weight: 700;
}

main {
  position: relative;
  gap: 1em;
  @include m.flex-col();
}

.app-container.user {
  > main {
    --sb-margin: 6px;
    margin-top: 0;
    margin-left: calc(u.$sidebar-width + (var(--sb-margin) * 2));
    width: calc(100% - (u.$sidebar-width + (var(--sb-margin) * 2)));
  }
}

.round {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.button-primary {
  --font-size: .9rem;
  font-size: var(--font-size);
  padding: 1em 1.5em;
  color: m.hslac(c.$clr-white, 1);
  background-color: m.hslac(c.$clr-primary-500, 1);
  border: none;
  text-decoration: none;
  border-radius: 5em;
  gap: .5em;
  cursor: pointer;
  transition: opacity .15s cubic-bezier(u.$transition-smooth, 1);
  @include m.flex-center();

  &:disabled {
    opacity: .5;
    pointer-events: none;
  }
  span {

  }
  svg {
    width: 1.3em; height: 1.3em;
    path {
      stroke-width: .9;
      stroke: m.hslac(c.$clr-white, 1);
    }
  }
}
.button-white {
  --font-size: .9rem;
  font-size: var(--font-size);
  padding: 1em 1.5em;
  color: m.hslac(c.$clr-black, 1);
  background-color: m.hslac(c.$clr-white, 1);
  border: none;
  text-decoration: none;
  border-radius: 5em;
  gap: .5em;
  cursor: pointer;
  transition: opacity .15s cubic-bezier(u.$transition-smooth, 1);
  @include m.flex-center();

  &:disabled {
    opacity: .5;
    pointer-events: none;
  }
  span {

  }
  svg {
    width: 1.3em; height: 1.3em;
    path {
      stroke-width: .9;
      stroke: m.hslac(c.$clr-black, 1);
    }
  }
}
.button-blur {
  --font-size: .9rem;
  font-size: var(--font-size);
  padding: 1em 1.5em;
  color: m.hslac(c.$clr-white, 1);
  background-color: m.hslac(c.$clr-gray-800, .6);
  border: none;
  backdrop-filter: blur(3rem);
  text-decoration: none;
  border-radius: 5em;
  gap: .5em;
  cursor: pointer;
  transition: opacity .15s cubic-bezier(u.$transition-smooth, 1);
  @include m.flex-center();

  &:disabled {
    opacity: .5;
    pointer-events: none;
  }
  span {

  }
  svg {
    width: 1.3em; height: 1.3em;
    path {
      stroke-width: .9;
      stroke: m.hslac(c.$clr-white, 1);
    }
  }
}

.ba-primary {
  background: m.hslac(c.$clr-skyblue-500, 1);
  color: m.hslac(c.$clr-white, 1);
  div {
    text-shadow: 0 var(--font-shadow) 0 m.hslac(c.$clr-white, 1);
  }
}
.ba-white {
  background: m.hslac(c.$clr-white, 1);
  color: m.hslac(c.$clr-black, 1);
  div {
    text-shadow: 0 var(--font-shadow) 0 m.hslac(c.$clr-black, 1);
  }
}
.ba-gray {
  background: m.hslac(c.$clr-gray-900, 1);
  color: m.hslac(c.$clr-white, 1);
  div {
    text-shadow: 0 var(--font-shadow) 0 m.hslac(c.$clr-white, 1);
  }
}
.ba-purple {
  background: m.hslac(c.$clr-purple-500, 1);
  color: m.hslac(c.$clr-white, 1);
  div {
    text-shadow: 0 var(--font-shadow) 0 m.hslac(c.$clr-white, 1);
  }
}
.ba-yellow {
  background: m.hslac(c.$clr-yellow-500, 1);
  color: m.hslac(c.$clr-white, 1);
  div {
    text-shadow: 0 var(--font-shadow) 0 m.hslac(c.$clr-white, 1);
  }
}
.ba-deeppink {
  background: m.hslac(c.$clr-deeppink-500, 1);
  color: m.hslac(c.$clr-white, 1);
  div {
    text-shadow: 0 var(--font-shadow) 0 m.hslac(c.$clr-white, 1);
  }
}
.ba-green {
  background: m.hslac(c.$clr-lime-500, 1);
  color: m.hslac(c.$clr-white, 1);
  div {
    text-shadow: 0 var(--font-shadow) 0 m.hslac(c.$clr-white, 1);
  }
}
.ba-glow {
  background: m.hslac(c.$clr-white, .1);
  color: m.hslac(c.$clr-white, 1);
  backdrop-filter: blur(2rem);
  box-shadow: 0 0 4px 0 m.hslac(c.$clr-white, .2) inset;
  div {
    text-shadow: 0 var(--font-shadow) 0 m.hslac(c.$clr-white, 1);
  }
}
.button-animated {
  --font-size: .9rem;
  --duration: .3s;
  --font-shadow: calc(var(--font-size) + .1rem);
  appearance: none;
  padding: 1em 1.5em;
  font-size: var(--font-size);
  letter-spacing: .02em;
  font-weight: 500;
  text-decoration: none;
  line-height: calc(var(--font-size) + .12rem);
  border-radius: 1em;
  outline: none;
  border: none;
  cursor: pointer;
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) cubic-bezier(u.$transition-smooth, 1), box-shadow var(--duration) cubic-bezier(u.$transition-smooth, 1), opacity .15s cubic-bezier(u.$transition-smooth, 1);
  &:disabled {
    opacity: .5;
    pointer-events: none;
  }
  div {
    display: flex;
    overflow: hidden;
    span {
      display: block;
      backface-visibility: hidden;
      font-style: normal;
      transition: transform var(--duration) ease;
      transform: translateY(var(--m)) translateZ(0);
      $i: 1;
      @while $i < 22 {
        &:nth-child(#{$i}) {
          transition-delay: #{math.div($i, 60)}s;
        }
        $i: $i + 1;
      }
    }
  }
  &:hover {
    span {
      --m: calc(calc(var(--font-size) + .1rem) * -1);
    }
  }
  &.reverse {
    &:hover {
      span {
        --m: calc(var(--font-size));
      }
    }
  }
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'].check-purple, input[type='radio'].check-purple {
    --active: #{m.hslac(c.$clr-purple-500, 1)};
    --focus: 2px #{m.hslac(c.$clr-purple-500, 0.3)};
    --border-hover: #{m.hslac(c.$clr-purple-500, 1)};
  }
  input[type='checkbox'].check-yellow, input[type='radio'].check-yellow {
    --active: #{m.hslac(c.$clr-yellow-500, 1)};
    --focus: 2px #{m.hslac(c.$clr-yellow-500, 0.3)};
    --border-hover: #{m.hslac(c.$clr-yellow-500, 1)};
  }
  input[type='checkbox'].check-deeppink, input[type='radio'].check-deeppink {
    --active: #{m.hslac(c.$clr-deeppink-500, 1)};
    --focus: 2px #{m.hslac(c.$clr-deeppink-500, 0.3)};
    --border-hover: #{m.hslac(c.$clr-deeppink-500, 1)};
  }
  input[type='checkbox'].check-FURNITURE, input[type='radio'].check-FURNITURE {
    --active: #{c.$clr-furniture};
    --focus: 2px #{rgba(c.$clr-furniture, 0.3)};
    --border-hover: #{c.$clr-furniture};
  }
  input[type='checkbox'].check-GROCERIES, input[type='radio'].check-GROCERIES {
    --active: #{c.$clr-groceries};
    --focus: 2px #{rgba(c.$clr-groceries, 0.3)};
    --border-hover: #{c.$clr-groceries};
  }
  input[type='checkbox'].check-TAKEAWAY, input[type='radio'].check-TAKEAWAY {
    --active: #{c.$clr-takeaway};
    --focus: 2px #{rgba(c.$clr-takeaway, 0.3)};
    --border-hover: #{c.$clr-takeaway};
  }
  input[type='checkbox'].check-RESTAURANT, input[type='radio'].check-RESTAURANT {
    --active: #{c.$clr-restaurant};
    --focus: 2px #{rgba(c.$clr-restaurant, 0.3)};
    --border-hover: #{c.$clr-restaurant};
  }
  input[type='checkbox'].check-HOUSEHOLD, input[type='radio'].check-HOUSEHOLD {
    --active: #{c.$clr-household};
    --focus: 2px #{rgba(c.$clr-household, 0.3)};
    --border-hover: #{c.$clr-household};
  }
  input[type='checkbox'].check-SUBSCRIPTIONS, input[type='radio'].check-SUBSCRIPTIONS {
    --active: #{c.$clr-subscriptions};
    --focus: 2px #{rgba(c.$clr-subscriptions, 0.3)};
    --border-hover: #{c.$clr-subscriptions};
  }
  input[type='checkbox'].check-OTHER, input[type='radio'].check-OTHER {
    --active: #{c.$clr-other};
    --focus: 2px #{rgba(c.$clr-other, 0.3)};
    --border-hover: #{c.$clr-other};
  }
  input[type='checkbox'],
  input[type='radio'] {
    --active: #{m.hslac(c.$clr-skyblue-500, 1)};
    --active-inner: #{m.hslac(c.$clr-white, 1)};
    --focus: 2px #{m.hslac(c.$clr-skyblue-500, 0.3)};
    --border: #{m.hslac(c.$clr-gray-700, 1)};
    --border-hover: #{m.hslac(c.$clr-skyblue-500, 1)};
    --background: #{m.hslac(c.$clr-black, .5)};
    --disabled: #{m.hslac(c.$clr-gray-900, 1)};
    --disabled-inner: #{m.hslac(c.$clr-gray-800, 1)};
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, .3s) cubic-bezier(u.$transition-smooth, 1),
      opacity var(--d-o, .2s);
    }
    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .1s;
      --d-t: .3s;
    }
    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;
      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      & + label {
        cursor: not-allowed;
      }
    }
    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }
    &:focus {
      box-shadow: 0 0 0 var(--focus);
    }
    &:not(.switch) {
      width: 21px;
      &:after {
        opacity: var(--o, 0);
      }
      &:checked {
        --o: 1;
      }
    }
    & + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px;
    }
  }
  input[type='checkbox'] {
    &:not(.switch) {
      border-radius: 7px;
      &:after {
        width: 5px;
        height: 9px;
        border: 2px solid var(--active-inner);
        border-top: 0;
        border-left: 0;
        left: 7px;
        top: 4px;
        transform: rotate(var(--r, 43deg));
      }
      &:checked {
        --r: 43deg;
      }
    }
    &.switch {
      width: 38px;
      border-radius: 11px;
      &:after {
        left: 2px;
        top: 2px;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background: var(--ab, var(--border));
        transform: translateX(var(--x, 0));
      }
      &:checked {
        --ab: var(--active-inner);
        --x: 17px;
      }
      &:disabled {
        &:not(:checked) {
          &:after {
            opacity: .6;
          }
        }
      }
    }
  }
  input[type='radio'] {
    border-radius: 50%;
    &:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, .7));
    }
    &:checked {
      --s: .5;
    }
  }
}

label {
  user-select: none;
}

.error {
  color: m.hslac(c.$clr-red-500, 1);
}

.loader {
  width: 100%; height: calc(100vh - u.$navbar-height);
  @include m.flex-center();
}
.spinner svg {
  animation: loading-rotate 2.2s linear infinite;
  height: 42px;
  width: 42px;
}
.spinner .path {
  stroke-dasharray: 90, 150;
  stroke-dashoffset: 0;
  stroke-width: 3;
  stroke: m.hslac(c.$clr-white, 1);
  stroke-linecap: round;
  animation: loading-dash 1.6s ease-in-out infinite;
}
@keyframes loading-rotate {
  to {
    transform: rotate(1turn);
  }
}
@keyframes loading-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40px;
  }
  to {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120px;
  }
}

::selection {
  color: m.hslac(c.$clr-black, 1);
  background: m.hslac(c.$clr-white, 1);
}

::-webkit-scrollbar-track {
  background-color: m.hslac(c.$clr-black, 1);
}
::-webkit-scrollbar {
  width: 8px;
  background-color: m.hslac(c.$clr-black, 1);
}
::-webkit-scrollbar-thumb {
  background-color: m.hslac(c.$clr-white, .7);
  border-radius: 1em;
}
::-webkit-scrollbar-thumb:hover {
  background-color: m.hslac(c.$clr-white, .9);
}