/* Transitions */
$transition-main: .175, .685, .32;
$transition-smooth: .175, .285, .32;
$transition-spark: .175, .185, .825;
$transition-menu: .75, .185, .144032;
$transition-button: .76, 0, .24;

/* View width */
$view-width-padding: 3rem;
$view-width: calc(100% - $view-width-padding);
$max-view-width: 1496px;