@use "sass:math";
@use "../config/colors" as *;
@use "../abstracts/utilities" as *;
@use "../config/sizes" as *;
@use "../config/z-index" as *;
@use "../tools/functions/encode-colors" as *;
@use "../tools/mixins/alignment" as *;

.onboarding {
  padding: 2em;
  &-form {
    padding: 1px;
    width: 100%;
    position: relative;
    background-color: color(gray-800);
    border-radius: 1.6em;
    gap: 1em;
    overflow: hidden;
    @include align(center, center, column);

    &-rim {
      $size: 15;
      top: - calc($size / 1.5) + em;
      left: - calc($size / 2.5) + em;
      width: $size + em;
      aspect-ratio: 1 / 1;
      position: absolute;
      background-color: color(white);
      border-radius: 50%;
      filter: blur(calc($size / 1.5) + rem);
      pointer-events: none;
      opacity: .15;
    }
    &-glow {
      $size: 30;
      right: - calc($size / 3) + em;
      bottom: - calc($size / 1.1) + em;
      width: $size + em;
      aspect-ratio: 1 / 1.5;
      position: absolute;
      background-color: color(skyblue-400);
      border-radius: 50%;
      filter: blur(calc($size * 1.2) + rem);
      pointer-events: none;
      opacity: .15;
    }
    &-inner {
      padding: 2em;
      width: 100%; height: 100%;
      background-color: color(gray-900);
      border-radius: 1.6em;
      gap: 1em;
      @include align(center, center, column);

      &-fieldset {
        padding: 1em 0 2em 0;
        width: 100%;
        border: none;
        border-bottom: 1px solid color(gray-800);
        gap: .5em;
        @include align(start, start, column);

        &-label {
          color: color(gray-500);
        }
        &-input {
          padding: 1em 1.2em 1em 1.2em;
          width: 100%;
          border: 1px solid color(gray-800);
          border-radius: 1em;
          background: color(gray-900);
          color: color(gray-100);
          &:focus {
            outline: none;
            border-color: color(white);
          }
        }
      }
      &-header {
        width: 100%;
        gap: .2em;
        @include align(start, start, column);

        &-title {
          font-weight: 700;
        }
        &-subtitle {
          font-weight: 400;
          color: color(gray-500);
        }
      }
      &-cats {
        padding-top: 1em;
        width: 100%;
        gap: 2em;
        @include align(center, center, column);
        
        &-header {
          width: 100%;
          gap: .2em;
          @include align(between, center);

          &-title {
            font-weight: 700;
          }
        }
      }
      &-field {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40em, 1fr));
        gap: 1em;

        &-inner {
          width: 100%;
          position: relative;
          display: grid;
          grid-template-columns: auto 1fr 1fr auto;
          gap: 1em;
          &-color {
            height: 100%;
            aspect-ratio: 1 / 1;
            background-color: color(gray-500);
            border: none;
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.15);
            border-radius: 1em;
            cursor: pointer;
            @include align(center, center);

            &-icon {
              width: 1.25em; height: 1.25em;
              path {
                stroke: color(white);
              }
            }
          }
          &-input {
            position: relative;
            gap: .5em;
            @include align(start, center, column);

            &-icon {
              left: 1.2em;
              width: 1em; height: 1em;
              position: absolute;
              path {
                stroke: color(gray-500);
              }
            }
            &-text {
              left: 1.2em;
              position: absolute;
              color: color(gray-500);
            }
            &-field {
              padding: 1em 1.2em 1em 2.6em;
              width: 100%;
              border: 1px solid color(gray-800);
              border-radius: 1em;
              background: color(gray-900);
              color: color(gray-100);
              &:focus {
                outline: none;
                border-color: color(white);
              }
              &[type="number"] {
                -moz-appearance: textfield;
              }
            }
          }
          &-button {
            height: 100%;
            aspect-ratio: 1 / 1;
            color: color(white);
            background-color: color(red-500);
            border: none;
            border-radius: 1em;
            gap: .5em;
            cursor: pointer;
            @include align(center, center);

            svg {
              width: 1em; height: 1em;
              path {
                stroke: color(white);
              }
            }
          }
        }
      }
      &-footer {
        margin-top: 1em;
        width: 100%;
      }
    }
  }
}