@use "../abstracts/colors" as c;
@use "../abstracts/mixins" as m;
@use "../abstracts/utilities" as u;

.register {
  width: 100%; height: 100dvh;
  position: relative;
  background-color: m.hslac(c.$clr-black, 1);
  gap: 2em;
  overflow: hidden;
  @include m.flex-col();
  
  &-transition {
    bottom: 0;
    width: 100%; height: 2em;
    position: absolute;
    background-color: m.hslac(c.$clr-black, 1);
    box-shadow: 0 0 100px 80px m.hslac(c.$clr-black, 1);
    z-index: 15;
  }
  &-rim {
    top: - calc(50vw / 3);
    left: 30%;
    width:  55vw;
    aspect-ratio: 2 / 1;
    position: absolute;
    background-color: m.hslac(c.$clr-white, 1);
    border-radius: 50%;
    filter: blur(40rem);
    transform: translateX(-50%);
    pointer-events: none;
    opacity: .15;
  }
  &-glow {
    aspect-ratio: 1 / 1;
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
  }
  .register-glow-primary {
    left: 50%; bottom: 10%;
    width: 42vw;
    background-color: m.hslac(c.$clr-purple-500, 1);
    filter: blur(40rem);
    opacity: .3;
    z-index: 3;
  }
  .register-glow-secondary {
    left: 38%; bottom: 30%;
    width: 40vw;
    background-color: m.hslac(c.$clr-skyblue-400, 1);
    filter: blur(40rem);
    opacity: .2;
    z-index: 2;
  }
  .register-glow-tertiary {
    left: 35%; bottom: 0;
    width: 38vw;
    background-color: m.hslac(c.$clr-orange-400, 1);
    filter: blur(40rem);
    opacity: .25;
    z-index: 1;
  }
  &-grid {
    width: 100%; height: 100%;
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    &-box {
      width: 100%; height: 100%;
      border: 1px solid m.hslac(c.$clr-white, .04);
    }
  }
  
  &-form {
    height: calc(100% - calc(u.$navbar-height * 3));
    position: relative;
    z-index: 100;
    @include m.flex-col();

    &-inner {
      padding: 2em;
      width: 100%; height: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      background-color: m.hslac(c.$clr-black, .82);
      border-radius: 1.6em;
      gap: 2em;

      &-left {
        width: 100%; height: 100%;
        &-background {
          padding: 3em;
          width: 100%; height: 100%;
          position: relative;
          background-color: m.hslac(c.$clr-black, 1);
          border-radius: 1.6em;
          overflow: hidden;
          &-title {
            position: relative;
            font-size: u.$heading-medium;
            font-family: u.$font-title;
            font-weight: 600;
            line-height: 1;
            z-index: 105;
          }
          &-glow {
            aspect-ratio: 1 / 1;
            position: absolute;
            border-radius: 50%;
            pointer-events: none;
          }
          .register-form-glow-primary {
            right: -20%; bottom: 20%;
            width: 90%;
            background-color: m.hslac(c.$clr-purple-500, 1);
            filter: blur(20rem);
            opacity: .3;
            z-index: 103;
          }
          .register-form-glow-secondary {
            left: 0; top: 0;
            width: 55%;
            background-color: m.hslac(c.$clr-skyblue-400, 1);
            filter: blur(20rem);
            opacity: .2;
            z-index: 102;
          }
          .register-form-glow-tertiary {
            left: 20%; bottom: 0;
            width: 65%;
            background-color: m.hslac(c.$clr-orange-400, 1);
            filter: blur(20rem);
            opacity: .25;
            z-index: 101;
          }
        }
      }
      &-right {
        padding: 2em;
        width: 100%; height: 100%;
        gap: 3em;
        @include m.flex-col-start-center();
      }
      &-header {
        width: 100%;
        gap: .5em;
        @include m.flex-col-left-ns();

        h3 {
          font-size: u.$heading-medium;
          font-weight: 700;
        }
        p {
          color: m.hslac(c.$clr-gray-500, 1);
          span {
            color: m.hslac(c.$clr-orange-500, 1);
          }
        }
      }
      .rfi-double {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;

        @media (max-width: u.$layout-breakpoint-small) {
          grid-template-columns: 1fr;
        }
      }
      &-content {
        width: 100%;
        gap: 2em;
        @include m.flex-col-start-center();

        &-field {
          width: 100%;
          border: none;
          &-label {
            gap: .6em;
            @include m.flex-col-left-ns();

            &-name {
              color: m.hslac(c.$clr-gray-500, 1);
              span {
                color: m.hslac(c.$clr-orange-500, 1);
              }
            }
          }
          &-input {
            width: 100%;
            position: relative;
            @include m.flex-center();

            .register-taken {
              border: 1px solid m.hslac(c.$clr-orange-500, 1);
              &:focus {
                border: 1px solid m.hslac(c.$clr-orange-500, 1);
              }
            }
            .register-free {
              border: 1px solid m.hslac(c.$clr-purple-500, 1);
            }
            .register-taken-icon {
              path {
                stroke: m.hslac(c.$clr-orange-500, 1);
              }
            }
            .register-free-icon {
              path {
                stroke: m.hslac(c.$clr-purple-500, 1);
              }
            }
            &-field {
              padding: 1em 3.2em 1em 1.2em;
              width: 100%;
              border: 1px solid m.hslac(c.$clr-white, .1);
              border-radius: 1em;
              background: m.hslac(c.$clr-black, .82);
              color: m.hslac(c.$clr-gray-100, 1);
              &:focus {
                outline: none;
                border-color: m.hslac(c.$clr-purple-500, 1);
              }
            }
            &-text {
              right: 1em;
              position: absolute;
            }
            .password-icon {
              width: 1.5em; height: 1.5em;
              cursor: pointer;
            }
            &-icon {
              right: 1.2em;
              width: .75em; height: .75em;
              position: absolute;

              path {
                stroke: m.hslac(c.$clr-white, 1);
              }
            }
          }
          &-checkbox {
            color: m.hslac(c.$clr-gray-500, 1);
            gap: .6em;
            cursor: pointer;
            @include m.flex-left();
          }
          &-indicator {
            font-size: u.$paragraph-small;
          }
          &-line {
            width: 100%;
            background-color: m.hslac(c.$clr-gray-900, 1);
            border-radius: 5em;
            overflow: hidden;
            &-inner {
              width: 100%; height: 2px;
              border-radius: 5em;
            }
          }
        }
      }
      .pass-strength {
        gap: .5em;
        @include m.flex-col-left-ns();
      }
      &-bottom {
        margin-top: 1em;
        width: 100%;
        gap: 2em;
        @include m.flex-col();

        button {
          width: 100%;
          @include m.flex-center();
        }
        p {
          color: m.hslac(c.$clr-gray-500, 1);
          gap: .5em;
          @include m.flex-center();

          a {
            color: m.hslac(c.$clr-white, 1);
            font-weight: 600;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.verify {
  padding: 2em;
  &-email {
    padding: 1px;
    position: relative;
    background-color: m.hslac(c.$clr-gray-800, 1);
    border-radius: 1.6em;
    gap: 1em;
    overflow: hidden;
    @include m.flex-col();

    &-rim {
      $size: 15;
      top: - calc($size / 1.5) + em;
      left: - calc($size / 2.5) + em;
      width: $size + em;
      aspect-ratio: 1 / 1;
      position: absolute;
      background-color: m.hslac(c.$clr-white, 1);
      border-radius: 50%;
      filter: blur(calc($size / 1.5) + rem);
      pointer-events: none;
      opacity: .15;
    }
    &-glow {
      $size: 30;
      right: - calc($size / 3) + em;
      bottom: - calc($size / 1.1) + em;
      width: $size + em;
      aspect-ratio: 1 / 1.5;
      position: absolute;
      background-color: m.hslac(c.$clr-lime-500, 1);
      border-radius: 50%;
      filter: blur(calc($size * 1.2) + rem);
      pointer-events: none;
      opacity: .15;
    }
    &-inner {
      padding: 2em;
      width: 100%;
      height: 100%;
      display: grid;
      background-color: m.hslac(c.$clr-gray-900, 1);
      border-radius: 1.6em;
      gap: 1em;
      &-title {
        font-weight: 700;
      }
      &-subtitle {
        color: m.hslac(c.$clr-gray-300, 1);
      }
    }
  }
}
.success-panel {
  height: calc(100% - calc(u.$navbar-height * 3));
  position: relative;
  z-index: 100;
  @include m.flex-col();

  &-inner {
    padding: 2em;
    width: 100%; height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: m.hslac(c.$clr-black, .82);
    border-radius: 1.6em;
    gap: 2em;

    &-left {
      width: 100%; height: 100%;
      &-background {
        padding: 3em;
        width: 100%; height: 100%;
        position: relative;
        background-color: m.hslac(c.$clr-black, 1);
        border-radius: 1.6em;
        overflow: hidden;
        &-title {
          position: relative;
          font-size: u.$heading-medium;
          font-family: u.$font-title;
          font-weight: 600;
          line-height: 1;
          z-index: 105;
        }
        &-glow {
          aspect-ratio: 1 / 1;
          position: absolute;
          border-radius: 50%;
          pointer-events: none;
        }
        .register-form-glow-primary {
          right: -20%; bottom: 20%;
          width: 90%;
          background-color: m.hslac(c.$clr-purple-500, 1);
          filter: blur(20rem);
          opacity: .3;
          z-index: 103;
        }
        .register-form-glow-secondary {
          left: 0; top: 0;
          width: 55%;
          background-color: m.hslac(c.$clr-skyblue-400, 1);
          filter: blur(20rem);
          opacity: .2;
          z-index: 102;
        }
        .register-form-glow-tertiary {
          left: 20%; bottom: 0;
          width: 65%;
          background-color: m.hslac(c.$clr-orange-400, 1);
          filter: blur(20rem);
          opacity: .25;
          z-index: 101;
        }
      }
    }
    &-right {
      padding: 2em;
      width: 100%; height: 100%;
      gap: 3em;
      @include m.flex-col();
    }
    &-header {
      @include m.flex-col();

      h3 {
        font-family: u.$font-title;
        font-size: u.$heading-medium;
        font-weight: 700;
      }
      h4 {
        font-family: u.$font-title;
        font-size: u.$heading-small;
        font-weight: 700;
      }
    }
    &-content {
      gap: 2em;
      @include m.flex-col();

      p {
        max-width: 40ch;
        text-align: center;
        color: m.hslac(c.$clr-gray-300, 1);
        font-weight: 300;
        span {
          font-weight: 500;
        }
      }
      &-mail {
        top: 0;
        padding: 1em 1.8em;
        width: 100%;
        position: relative;
        color: m.hslac(c.$clr-white, 1);
        background-color: m.hslac(c.$clr-black, .82);
        border: 1px solid m.hslac(c.$clr-white, .1);
        box-shadow: 0 12px 15px -14px m.hslac(c.$clr-black, 1);
        backdrop-filter: blur(1rem);
        text-decoration: none;
        border-radius: 1em;
        gap: 1em;
        transition: all .2s cubic-bezier(u.$transition-main, 1);
        @include m.flex-center();

        img {
          width: 1em;
        }
        &:hover {
          top: -.2em;
          transform: scale(1.02);
          box-shadow: 0 16px 20px -14px m.hslac(c.$clr-black, 1);
        }
      }
      &-receive {
        color: m.hslac(c.$clr-white, 1);
        span {
          color: m.hslac(c.$clr-skyblue-400, 1);
          cursor: pointer;
        }
      }
    }
  }
}