@use "../abstracts/colors" as c;
@use "../abstracts/mixins" as m;
@use "../abstracts/utilities" as u;
@use "sass:math";

.sidebar {
  width: 100%; height: 100dvh;
  z-index: 100;

  &-inner {
    width: 100%; height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    &-top {
      padding: 1rem;
      width: 100%;
      gap: 1.5rem;
      @include m.flex-col();

      &-header {
        padding: 0 .2rem;
        width: 100%;
        @include m.flex-space-bet();

        &-left {
          &-logo {
            width: 2rem;
            cursor: pointer;
            path {
              fill: m.hslac(c.$clr-white, 1);
            }
          }
        }
        &-right {
          &-toggle {
            width: 1.2rem; height: 1.2rem;
            cursor: pointer;
            rect {
              stroke: m.hslac(c.$clr-white, 1);
            }
          }
        }
      }
      &-select {
        width: 100%;
        position: relative;
        @include m.flex-center();

        &-box {
          width: 100%;
          background-color: m.hslac(c.$clr-gray-800, .6);
          border-radius: .8rem;
          user-select: none;
          outline: 2px solid transparent;
          cursor: pointer;
          transition: outline-color .15s cubic-bezier(u.$transition-main, 1);

          &:active {
            outline: 2px solid m.hslac(c.$clr-purple-500, 1);
          }
          &-inner {
            padding: .4rem;
            width: 100%;
            @include m.flex-space-bet();

            &-left {
              gap: .5rem;
              @include m.flex-left();

              &-logo {
                width: 2.2rem; aspect-ratio: 1;
                background: linear-gradient(30deg, m.hslac(c.$clr-purple-500, 1) 0, m.hslac(c.$clr-purple-400, 1) 100%);
                box-shadow: 0 0 4px 0 m.hslac(c.$clr-white, .3) inset;
                border-radius: .5rem;
                @include m.flex-center();

                &-title {
                  color: m.hslac(c.$clr-black, 1);
                  font-weight: 800;
                }
              }
              &-title {
                color: m.hslac(c.$clr-gray-200, 1);
              }
            }
            &-right {
              margin-right: .4rem;
              &-icon {
                width: .7rem; height: .7rem;
                path {
                  stroke: m.hslac(c.$clr-gray-500, 1);
                }
              }
            }
          }
        }
        &-modal {
          top: calc(100% + 1rem); left: 0;
          padding: 1rem;
          min-width: 100%;
          width: 24rem;
          position: absolute;
          background-color: m.hslac(c.$clr-gray-800, .5);
          border: 1px solid m.hslac(c.$clr-white, .1);
          border-radius: 1rem;
          backdrop-filter: blur(4rem);
          z-index: 100;
          &-inner {
            width: 100%; height: 100%;
            gap: 1rem;
            @include m.flex-col();

            &-top {
              width: 100%;
              &-title {
                color: m.hslac(c.$clr-gray-400, 1);
                font-size: u.$paragraph-small;
                font-weight: 400;
              }
            }
            &-list {
              width: 100%;
              gap: 1rem;
              @include m.flex-col();

              &-item {
                width: 100%;
                @include m.flex-space-bet();

                &-left {
                  gap: .6rem;
                  @include m.flex-left();

                  &-dragger {
                    svg {
                      width: .7rem; height: .7rem;
                      circle {
                        fill: m.hslac(c.$clr-white, .3);
                      }
                    }
                  }
                  &-icon {
                    width: 2.2rem; aspect-ratio: 1;
                    background: linear-gradient(30deg, m.hslac(c.$clr-purple-500, 1) 0, m.hslac(c.$clr-purple-400, 1) 100%);
                    box-shadow: 0 0 4px 0 m.hslac(c.$clr-white, .3) inset;
                    border-radius: .5rem;
                    @include m.flex-center();

                    &-title {
                      color: m.hslac(c.$clr-black, 1);
                      font-weight: 800;
                    }
                  }
                  &-data {
                    @include m.flex-col-left-ns();

                    &-title {
                      font-size: u.$paragraph;
                    }
                    &-subtitle {
                      color: m.hslac(c.$clr-gray-500, 1);
                      font-size: u.$paragraph-xsmall;
                    }
                  }
                }
                &-right {
                  &-action {
                    &-active {
                      padding: .35rem;
                      background-color: m.hslac(c.$clr-white, 1);
                      border-radius: 50%;
                      svg {
                        width: .6rem; height: .6rem;
                        path {
                          stroke: m.hslac(c.$clr-black, 1);
                        }
                      }
                    }
                    &-label {
                      padding: .4rem .6rem .42rem .65rem;
                      background-color: m.hslac(c.$clr-black, 1);
                      border-radius: .4rem;
                      gap: .5rem;
                      @include m.flex-left();

                      svg {
                        width: .7rem; height: .7rem;
                        path {
                          stroke: m.hslac(c.$clr-white, 1);
                        }
                      }
                      span {
                        font-size: u.$paragraph-small;
                      }
                    }
                  }
                }
              }
            }
            &-bottom {
              margin-top: .4rem; padding-top: .7rem;
              width: 100%;
              border-top: 1px solid m.hslac(c.$clr-white, .1);
              @include m.flex-space-bet();

              &-left {
                &-action {
                  color: m.hslac(c.$clr-gray-300, 1);
                  font-size: u.$paragraph;
                  gap: .75rem;
                  @include m.flex-left();

                  svg {
                    width: .6rem; height: .6rem;
                    path {
                      stroke: m.hslac(c.$clr-gray-300, 1);
                    }
                  }
                }
              }
              &-right {
                &-label {
                  padding: .4rem .6rem .42rem .65rem;
                  background-color: m.hslac(c.$clr-black, 1);
                  border-radius: .4rem;
                  gap: .5rem;
                  @include m.flex-left();

                  svg {
                    width: .7rem; height: .7rem;
                    path {
                      stroke: m.hslac(c.$clr-white, 1);
                    }
                  }
                  span {
                    font-size: u.$paragraph-small;
                  }
                }
              }
            }
          }
        }
      }
    }
    &-center {
      padding: 1rem;
      width: 100%; height: 100%;
      gap: 2rem;
      overflow-y: auto;
      @include m.flex-col-start-center();

      &-list {
        padding: 0;
        width: 100%;
        list-style: none;
        gap: .25rem;
        @include m.flex-col-left-ns();

        &-heading {
          padding: 0 0 .5rem 1rem;
          width: 100%;
          gap: .5rem;
          @include m.flex-left();

          &-icon {
            width: 1rem; height: 1rem;
            path {
              stroke: m.hslac(c.$clr-gray-500, 1);
            }
          }
          &-title {
            color: m.hslac(c.$clr-gray-500, 1);
          }
        }
        &-item {
          width: 100%;
          &-link {
            padding: .8rem 1rem;
            width: 100%;
            color: m.hslac(c.$clr-white, 1);
            border-radius: .8rem;
            text-decoration: none;
            gap: .5rem;
            transition: background-color .15s cubic-bezier(u.$transition-main, 1);
            @include m.flex-left();

            &.active, &:hover {
              background-color: m.hslac(c.$clr-gray-800, .3);
            }
            &-icon {
              width: 1.75rem; height: 1.75rem;
              path {
                stroke: m.hslac(c.$clr-white, 1);
                stroke-width: 1.3;
              }
            }
            &-title {

            }
          }
        }
      }
    }
    &-bottom {
      padding: 1rem;
      width: 100%;
      &-user {
        padding: .4rem;
        width: 100%;
        background-color: m.hslac(c.$clr-gray-800, .6);
        border-radius: .8rem;
        outline: 2px solid transparent;
        transition: outline-color .15s cubic-bezier(u.$transition-main, 1);

        &:active {
          outline: 2px solid m.hslac(c.$clr-orange-300, 1);
        }
        &-left {
          &-picture {
            width: 2.5rem; aspect-ratio: 1;
            border-radius: .5rem;
            overflow: hidden;
            @include m.flex-center();

            img {
              width: 100%;
            }
          }
        }
        &-right {

        }
      }
    }
  }
}